*{margin: 0; padding: 0; color:inherit; text-decoration: none;}

html{font-family: Geneva, sans-serif; color: #000;}
body{position: relative; min-height: 100vh; overflow-x: hidden;}

.bluText{color: #00ccff;}

header{padding: 50px 10% 0 10%;}
	header a{font-size: 250%; font-weight: bold;}

main{padding: 50px 10%;}

footer{position: absolute; left: 0; bottom: 0; width: 100vw; padding: 15px 0; color: #fff; text-align: center; background-color: #222;}
	footer .flex-container a{padding: 0 10px; text-indent: 0;}
		footer .flex-container a:hover{color: #00ccff;}

@media only screen and (max-width: 800px){}

@media only screen and (max-width: 1024px){}

@media only screen and (orientation: portrait){
	header .home-button{display: block; padding: 0 0 15px 0; text-align: center;}
	header nav{width: 100%; text-align: center;}
}